body{
    margin-left: 150px;
    margin-top: 20px;
}

.squares{
    width: 150px;
    height: 200px;
    background-color: black;
    color: white;
    padding: 5px;
    text-align: center;
    padding-top: 20px;
    font-size: 100px;
}

.clock{
    width: 150px;
    height: 200px;
    background-color: black;
    color: white;
    padding: 5px;
    text-align: center;
    padding-top: 20px;
    font-size: 100px;
}